#nav {
  position: absolute;
  display: block;
  z-index:9999999;
  width:100vw;
  padding-bottom: 0 !important;
  transition: all .1s;
  -webkit-transition: all .1s;
}
#scroll-container.fixed nav .logo{
  transform:scale(1) !important;
}
nav#nav.fixed {
  position: fixed;
  background: rgba(0, 0, 0, 0.95);
  border-bottom: solid 1px #1d1d1d;
  .logo{
    transform:scale(.8);
  }
}
.logo {
  z-index: 1;
}
#mobileBackdrop {
  position: fixed;
  bottom: 0;
  left: 0;
}
.navbar-toggler {
  touch-action: manipulation;
  border: none !important;
  position:fixed;
  z-index: 9999999999999;
  bottom: 75px;
  background: rgba(0, 0, 0, 0.64) !important;
  border-radius: 100% !important;
  height: 80px;
  padding: 22px !important;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}
.navbar-toggler.alternate div{
  border-color: var(--dgr);
}
.navbar-toggler-true{
  right: 35px;
}
.navbar-toggler-false{
  left: 20px;
}
.navbar-collapse .nav-item {
  z-index: 1;
}
#backdrop {
  background: rgba(0, 0, 0, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  opacity: 1;
  transition: all 0.3s ease;
}
button.navbar-toggler div {
  border: solid 2px var(--g);
  width: 37px;
  margin-top: 7px;
}
button.navbar-toggler div:first-child {
  margin-top: 0px;
}
@media (min-width: 992px) {
  .nav-item a {
    list-style: none;
    font-size: 1.2em;
    color: var(--w);
    text-transform: uppercase;
    display: inline-block;
    padding: 20px 20px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
  }
  .nav-item a:hover {
    text-decoration: none;
    color: var(--b);
    border-radius: 3px;
  }
  .nav-item a.active {
    color: var(--g);
    background-color: transparent !important;
  }
  #backdrop {
    display: none;
  }
}
@media (max-width: 991px) {
  .nav-item a {
    list-style: none;
    font-size: 1.5em;
    color: var(--w);
    text-transform: uppercase;
    display: block;
    background: var(--bl);
    margin-bottom:5px;
    padding: 20px 20px;
    font-weight: 700;
    letter-spacing: 1px;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
  }
  .nav-item a:hover {
    text-decoration: none;
    color: var(--b);
    border-radius: 3px;
  }
  .nav-item a.active {
    color: var(--g);
    background-color: transparent !important;
  }
  .offScreen,
  .offScreen #backdrop {
    opacity: 0;
    transition: all 0.6s ease;
  }
  .offScreen,
  .offScreen * {
    max-height: 0;
    transition: max-height 0.5s ease;
    padding: 0 !important;
  }
  #navbarButton.offScreen #backdrop {
    display: none;
  }
  #navbarButton.fadeDown {
    margin-top: 20px;
    transition-delay: 0.6s;
    transition: all 0.6s ease;
  }
  #scroll-container.fixed nav{
    padding: 1.5rem !important;
  }
}
