#layer1 svg {
  left: -10vw;
  top: 0;
  position: absolute;
  z-index: -1;
}
#layer2 svg {
  left: -5vw;
  bottom: 90px;
  position: absolute;
  z-index: -1;
}

#layer3 svg {
  left: -15vw;
  bottom: 90px;
  position: absolute;
  z-index: -1;
}
#layer4 svg {
  left: -10vw;
  bottom: 0;
  position: absolute;
  z-index: -1;
}
