@import url("https://fonts.googleapis.com/css?family=Caveat|Montserrat:300,400,500,600,700,900&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a0a0a !important;
}
body, html, #root, .App{
  overflow:auto;
  overflow-x: hidden !important;
}
.c {
  font-family: "Caveat", cursive;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.btn:focus{
  outline:none;
  box-shadow:none;
}
.btn-primary,
.btn-primary:focus{
  color: #a2a2a2;
  background-color: transparent;
  border:solid 3px #585858;
  border-radius: 0px;
}
.btn-primary:hover,
.btn-primary:active{
    color: #fff !important;
    background-color: transparent;
    border-color: #00ff80 !important;
}
a, button{
  touch-action: manipulation;
}
:root {
  --b: #00e5ff;
  --g: #00ff80;
  --y: #d6ff00;
  --r: #ff0000;
  --p: #ee00ff;
  --dgr: #2a2a2a;
  --gr: #707070;
  --lgr: #ccc;
  --w: #fff;
  --bl: #111;
}
