@import url("https://fonts.googleapis.com/css?family=Caveat|Montserrat:500,600,700,900&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a0a0a !important;
}
body, html{
  overflow:auto;
  overflow-x: hidden !important;
}
.c {
  font-family: "Caveat", cursive;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --b: #00e5ff;
  --g: #00ff80;
  --y: #d6ff00;
  --r: #ff0000;
  --p: #ee00ff;
  --gr: #707070;
  --w: #fff;
}
